/* structure de base */

body {

  font-family: "Raleway", sans-serif;

}

main {

  max-width: 1440px;
  margin: auto;
  padding: 1em;
  box-sizing: border-box;

}


/* recherche */


header h1 {

  margin-bottom: 0.5rem;

}

.search-form {

  display: inline-flex;
  max-width: 100%;
  overflow: auto;

}

.search-form img {

  background-color: #F2F2F2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  width: 20px;
  height: 20px;

}

.search-form img:hover {

  height: 25px;
  background-color: #FFC0CB;

}

.search-place {

  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1rem;
  width: 14.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;

}

.search-place::placeholder {

  color: #000000;

}

button {

  background-color: #0065FC;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.25rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  cursor: pointer;

}


/* filtres */


.filters-section {

  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;

}

.filter {

  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #F2F2F2;
  border-radius: 2rem;
  height: 2.9rem;
  font-weight: bold;
  cursor: pointer;

}

.filter:hover {

  background-color: #DEEBFF;

}

nav img {

  background-color: #DEEBFF;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  padding: 0.9rem;

}

nav img:hover {

  transform: rotate(360deg);
  transition-duration: 0.6s;
  background-color: #FFC0CB;
  
}

nav h2 {

  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  margin: 0 2rem 1rem 0;

}


/* informations complémentaires */


.search-results {

  display: flex;
  align-items: center;
  padding-top: 2rem;

}

.search-results img {

  border: 2px solid #F2F2F2;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  padding: 0.5rem;

}

.search-results img:hover {

  background-color: #FFC0CB;

}

.search-results p {

  padding-left: 1rem;

}

@media screen and (max-width: 48em) {

  .search-form {

    display: flex;
    width: 100%;

  }

  nav h2 {

    width: 100%;

  }

}









