body {

  font-family: "Raleway", sans-serif;

  --blue: #0065FC;
  --bluelight: #DEEBFF;
  --grey: #F2F2F2;
  --white: #FFFFFF;
  --black: #000000;

}

a {

  color: inherit;
  text-decoration: none;

}

.header {

  display: grid;
  align-items: center;

}

.header-image {

  grid-area: logo;

}

.header-nav {

  grid-area: navbar;

}

.header-nav-link {

  padding: 1em;
  cursor: pointer;

}

.header-signup {

  display: flex;
  align-items: center;
  grid-area: button;
  
}

@media screen and (min-width: 48em) {

  .header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";

  }






